<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>

    <%= render partial: "form", locals: {blog_post: @blog_post} %>


  </body>
</html>